@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: url("11.jpg") center/contain repeat;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
}

canvas {
    background-color: #fefefef9;
    margin: 0 auto;
    border: 2px solid rgb(4, 139, 65);
    width: 100%;
    max-width: 800px;
    height: 700px;
    max-height: 700px;
    @media (max-width: 819px) {
        width: 100%;
        height: 100%;
    }
}

.toolbox {
    margin: 0 auto;

    background-color: rgba(4, 139, 65, 0.452);
    border: 1px solid rgba(4, 139, 65, 0.45);
    border-radius: 0 0 20px 20px;
    display: flex;
    width: clamp(325px, 800px, 804px);
    padding: 1rem;
    @media (max-width: 819px) {
        width: 100%;
        height: 100px;
    }
}

.toolbox > * {
    background-color: rgba(4, 139, 65, 0.27);
    border: 1px solid #fefefe6c;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
    transition: all 0.5s;
}

.toolbox > *:first-child {
    margin-right: auto;
}
.toolbox > *:hover {
    background-color: rgb(241, 241, 241);
    transition: all 0.5s;
}
